body {
    margin: 0;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: maroon;
    color: yellow;
    margin: 0;
}

.heading h1 {
    justify-content: center;
    /*padding-left: 25%;*/
}

.heading img {
    width: 10%;
    height: 10%;
    margin: 0;
    border: 0;
    justify-content: flex-end;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d3a625;
    margin: 0;
}


nav ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;

}


.navigation li {
    font-size: 24px;



}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    color: white;

}

.enroll {
    background-image: url("parchment_scroll_background.jpg");
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: 800px;
    padding-right: 25%;
    padding-left: 25%;
    height: 100%;
    width: 100%;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.form {
    padding: 10%;
    font-family: "Snell Roundhand";
    font-size: 20px;
}

option {
    font-family: "Snell Roundhand";
}

.firstname {
    padding-top: 25%;
}



.sorting_hat {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
}

.cell{
    flex: 1;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

.sorting_hat img {
    width: 30%;
    height: 30%;
}



.says {
    padding-left: 35%;
}

.shout {
    font-size: 50px;
    font-weight: bold;
    padding-left: 15%
}

/*@media all and (min-width: 480px) {
    .sorting_hat {
        flex-direction: row;
    }
}*/
